$bg-color: #111;
$main-color: #eee;
$sub-color: #444;

.App {
  background-color: $bg-color;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: column;
  align-items: flex-start;
  color: $main-color;

  .page {
    width: 990px;
    height: 100%;
    display: grid;
    grid-template-columns: 600px 1fr;
  }
}

a {
  text-decoration: none !important;
  color: $main-color;
}