.navbar {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  min-height: 0px;
  min-width: 0px;
  
  &__container {
    width: 275px;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;    
    min-height: 0px;
    min-width: 0px;
    position: relative;    
  }
  
  &__nav {
    background-color: azure;
    height: 100%;
    top: 0;
    position: fixed;
    display: flex;
    flex-basis: auto;
  }
}