.profile {
  display: grid;
  grid-template-rows: 53px 380px 53px auto;

  &__header {
    border-bottom: solid 1px #4b4f52;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;

    &--banner {
      height: 200px;
      background-color: #e1e1e1;
    }

    &--dp {
      height: 38px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 15px;
      
      &-image {
        margin-top: -15%;
        // margin: 4px;
        height: 134px;
        width: 134px;
        border-radius: 50%;
        background-color: azure;
      }

      &-actions {
        
        div {
          display: flex;
          font-size: 15px;
          font-weight: 600;
          height: 37px;
          min-width: calc(62.79px);
          padding: 0 15px;
          border: 1px solid #eee;
          border-radius: 9999px;
          justify-content: center;
          align-items: center;
          line-height: 1;
          cursor: pointer;          
        }

        .profile-actions {
          &__primary-btn {
            &:hover {
              background-color: rgba(238, 238, 238, .1);
            }
          }

          &__following-btn {
            color: #111;
            background-color: #eee;
          }
        }
      }
    }

    &--user {
      padding: 0 15px;

      &-name {
        font-size: 21px;
        font-weight: 800;
      }

      &-username {
        font-size: 15px;
        color: rgb(136, 153, 166);
      }

      &-createdAt {
        margin: 10px 0;
        font-size: 15px;
        color: rgb(136, 153, 166);
      }

      &-follow {
        display: flex; 
        flex-direction: row;

        &-container {
          display: flex;
          flex-direction: row;
          margin-right: 15px;
          font-size: 15px;
          cursor: pointer;

          span {
            margin-right: 5px;
            color: rgb(136, 153, 166);
          }

          .follow-count {
            font-weight: 800;
            color: #eee;
          }

          &:hover span {
            text-decoration-line: underline;            
          }
        }
      }
    }
  }

  &__filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    border-bottom: solid 1px #4b4f52;

    &--item {
      display: flex;
      flex-grow: 1;
      padding: 15px;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 800;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: azure;
      }
    }
  }

  &__tweets {
    display: flex;
    flex-direction: column;
  }
}