.profile {
  display: grid;
  grid-template-rows: 53px 380px 53px auto;

  &__header {
    border-bottom: solid 1px #4b4f52;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;

    &--banner {
      height: 200px;
      background-color: #e1e1e1;
    }

    &--dp {
      display: flex;
      flex-wrap: wrap;
      padding: 15px;
      
      div {
        margin-top: -15%;
        // margin: 4px;
        height: 134px;
        width: 134px;
        border-radius: 50%;
        background-color: azure;
      }
    }
  }
}