.tweet {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  border-bottom: solid 1px #4b4f52;

  &__dp {
    flex-basis: 49px;
    margin-right: 10px;

    &--img {
      width: 49px;
      height: 49px;
      border-radius: 50%;
      background-color: azure;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    &--header {
      display: flex;
      flex-direction: row;

      div {
        margin-right: 8px;
        font-size: 15px;
        
        &:hover:not(:last-child) {
          cursor: pointer;
          text-decoration-line: underline;
        }
      }

      &-name {
        font-weight: 800;
      }

      // refactor this
      &-username {
        color: rgb(136, 153, 166);
      }

      &-createdAt {
        color: rgb(136, 153, 166);
      }
    }

    &--content {
      margin: 10px 0;
      font-weight: 400;
    }

    &--actions {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      width: 425px;

      div {
        display: flex;
        flex-grow: 1;        
      }
    }
  }
}