.App {
  background-color: #111;
  height: 100vh;
  width: 100vw; }

main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: column;
  align-items: flex-start;
  color: #eee; }
  main .page {
    width: 990px;
    height: 100%;
    display: grid;
    grid-template-columns: 600px 1fr; }

a {
  text-decoration: none !important;
  color: #eee; }

.navbar {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  min-height: 0px;
  min-width: 0px;
  border-right: solid 1px #4b4f52;
  color: #eee; }
  .navbar__container {
    width: 265px;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    position: relative; }
  .navbar__nav {
    width: 250px;
    height: 100%;
    top: 0;
    position: fixed;
    display: flex;
    flex-basis: auto;
    padding: 10px;
    justify-content: space-between; }
    .navbar__nav-container {
      height: 635px;
      margin-top: 10px; }
    .navbar__nav--loc {
      height: 100%;
      margin-top: 15px; }
    .navbar__nav-link {
      font-weight: 800;
      line-height: 1.3125;
      font-size: 21px;
      padding: 7px 0;
      width: 100%; }
      .navbar__nav-link--a {
        max-width: max-content;
        padding: 10px;
        border-radius: 25px;
        transition: all .2s ease; }
        .navbar__nav-link--a span {
          margin-left: 10px; }
        .navbar__nav-link--a:hover {
          background-color: azure; }

.nav--logo {
  height: 2rem;
  margin-left: 10px; }
  .nav--logo div {
    font-size: 30px; }

.profile {
  display: grid;
  grid-template-rows: 53px 380px 53px auto; }
  .profile__header {
    border-bottom: solid 1px #4b4f52; }
  .profile__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative; }
    .profile__info--banner {
      height: 200px;
      background-color: #e1e1e1; }
    .profile__info--dp {
      height: 38px;
      display: flex;
      flex-wrap: wrap;
      padding: 15px; }
      .profile__info--dp div {
        margin-top: -15%;
        height: 134px;
        width: 134px;
        border-radius: 50%;
        background-color: azure; }
    .profile__info--user {
      padding: 0 15px; }
      .profile__info--user-name {
        font-size: 21px;
        font-weight: 800; }
      .profile__info--user-username {
        font-size: 15px;
        color: #8899a6; }
      .profile__info--user-createdAt {
        margin: 10px 0;
        font-size: 15px;
        color: #8899a6; }
      .profile__info--user-follow {
        display: flex;
        flex-direction: row; }
        .profile__info--user-follow-container {
          display: flex;
          flex-direction: row;
          margin-right: 15px;
          font-size: 15px;
          cursor: pointer; }
          .profile__info--user-follow-container span {
            margin-right: 5px;
            color: #8899a6; }
          .profile__info--user-follow-container .follow-count {
            font-weight: 800;
            color: #eee; }
          .profile__info--user-follow-container:hover span {
            text-decoration-line: underline; }
  .profile__filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    border-bottom: solid 1px #4b4f52; }
    .profile__filter--item {
      display: flex;
      flex-grow: 1;
      padding: 15px;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 800;
      cursor: pointer;
      transition: background-color 0.2s ease; }
      .profile__filter--item:hover {
        background-color: azure; }

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: solid 1px #4b4f52; }
